div#contact_table td{
	font: 110% "courier new", monospace;
	color: #585858;	
}

div#error_info td{
	font: 110% "courier new", monospace;
	color: #585858;
}

div#contact_table table{
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}

div#error_info table{
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
}

div#recaptcha{
	margin-right: 15%;
	margin-left: 15%;
}