body{	
	background: url(../images/backgroundpush.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} /*background*/

h1{
	font: italic 220% "Hoefler Text", Garamond, Baskerville, "Baskerville Old Face", "Times New Roman", serif;
	color: #585858;
	text-decoration:underline;
	text-indent: 30px;
}/*font for company name*/

h2{
	font: 150% "courier new", monospace;
	color: #585858;	
}/*font for slogan*/ 	

h3{
	font: 130% "courier new", monospace;
	color: #585858;
	text-decoration: none;
}/*for main titles*/

h4{
	font: 90% "courier new", monospace;
	color: #585858;
	text-decoration: underline;	
}/*other key words*/

h3.privacy{
	color: #484848; 
	width: 75%;
	text-align: center;
	margin: 20px 150px 10px 150px ;
}

p{
	font: 110% "courier new", monospace;
	color: #585858;
} /*for new paragraphes*/

td{
	text-align: center;
}/*menu table,and all tables*/

a{
	font: italic 110% "courier new", monospace;
	text-decoration: none;
	color: #505050;
}/*for all links*/

a.links{
	color: #505050;
	text-decoration: underline;
}/*for all links*/

hr{
	border: 0;
	color: #9E9E9E;
	background-color: #9E9E9E;
	height: 1px;
	width: 95%;
	text-align: center;
}/*for my hr bar*/

p#links{
	font: 90% "courier new", monospace;
	color: #585858;
	text-align: right; 
}

div#menubox{	
	/*margin:30px 50px;*/
	width: 100%;
	height: 50px;
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	border-radius: 8px;
	opacity: 0.4;
	filter: alpha(opacty=40); /* For IE8 and earlier */
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}/*for menu bar, box*/
 
div#menubox h3{
	/*margin:30px 40px;*/
	color: #000000;
	font: bold 110% "courier new", monospace;
	text-decoration: none;
}/*for menu bar, letters*/

p#labs{
	text-align: right;
	font: 90% "courier new", monospace;
	color: #585858;
} /*for my contacts*/

p.intro{
	width: 75%;
	text-align: justify;
	margin: 30px 150px 30px 150px ;
}

p.poetry{
	width: 75%;
	text-align: center;
	margin: 30px 150px 30px 150px ;
}

p.privacy{
	width: 75%;
	text-align: justify;
	margin: 30px 150px 30px 150px ;
}

p.info{
	width: 60%;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}/*for errors an messages*/

table#navigate_table{
	position:relative;
	top: -8px;
	width: 100%;
}/*for menu table*/

input#back_button{
	width: 60%;
	margin-left:20%;
	margin-right: 20%;
}

#clearBasket, #checkOut {
	 display: none;}
/*for cart with Js*/

.hPb {
	display: none;
}
/*for cart with Js*/

div#basket{
	margin-left:50%;	
	font: bold 80% "courier new", monospace;
}

td#phone{
	font: italic 200% "courier new", monospace;
}