body{	
	background: url(../images/backgroundpush.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} /*background*/

h1.site{
	font: italic 350% "Hoefler Text", Garamond, Baskerville, "Baskerville Old Face", "Times New Roman", serif;
	color: #585858;
	text-decoration:underline;
	text-indent: 50px;
}/*font for company name - index.php*/

h1.site_description{
	font: italic 250% "Hoefler Text", Garamond, Baskerville, "Baskerville Old Face", "Times New Roman", serif;
	color: #585858;
	text-decoration:none;
	text-indent: 50px;
}/*font for slogan - index.php*/ 

td{
	text-align: center;
}/*menu table*/

table#menu_table{
	position:relative;
	top:-50px;
	width:100%;
}/*for menu table*/

a{
	color: #585858;
	text-decoration: none;
}/*for all links*/

div#menubox{
	/*margin:30px 50px;*/
	position:static;
	/*top:50%;*/
	width: 100%;
	height: 50px;
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	border-radius: 8px;
	opacity: 0.4;
	filter: alpha(opacty=40); /* For IE8 and earlier */
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}/*for menu bar, box*/
  
div#menubox h4{
	/*margin:30px 40px;*/
	color: #000000;
	font: italic 220% "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	text-decoration: none;
}/*for menu bar, letters*/

p#labs{
	text-align: right;
	font: 90% "courier new", monospace;
	color: #585858;
} /*for my contacts*/